
<% provide(:title, "")%>

<div class=" center jumbotron">
    
<h1>Rails Sample Application Homepage</h1>

<p>home page contents and components will be available here shortly</p>

<%= link_to "Sign Up", "#", class:"btn btn-primary" %>

</div>

<%= link_to image_tag("https://avatars.githubusercontent.com/u/4223",alt:"rails image"), "#" %>
